@media (min-width: 576px) {
  .sharepng {
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
  }

}

@media (max-width: 575.98px) { 

  .sharepng {
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
  }

}